%YAML 1.2
---
Application:
  license_key: {{ newrelic_license_key }}
  wake_interval: 60
  #newrelic_api_timeout: 10
  #proxy: http://localhost:8080

  memcached:
    name: memcache
    host: localhost
    port: 11211
  #  path: /path/to/unix/socket

  postgresql:
    host: localhost
    port: 5432
    user: {{ newrelic_pluging_postgres_user }}
    password: {{ newrelic_pluging_postgres_password }}
    dbname: postgres
    superuser: True

  rabbitmq:
    name: rabbitmq
    host: localhost
    port: 15672
    verify_ssl_cert: false
    username: {{ newrelic_pluging_rabbitmq_user }}
    password: {{ newrelic_pluging_rabbitmq_password }}
  #  vhosts: # [OPTIONAL, track this vhosts' queues only]
  #    production_vhost:
  #      queues: [encode_video, ] # [OPTIONAL, track this queues only]
  #    staging_vhost: # [track every queue for this vhost]
  #

  #uwsgi:
  #  name: localhost
  #  host: localhost
  #  port: 1717
  #  path: /path/to/unix/socket

Daemon:
  user: newrelic
  pidfile: /var/run/newrelic/newrelic-plugin-agent.pid

Logging:
  formatters:
    verbose:
      format: '%(levelname) -10s %(asctime)s %(process)-6d %(processName) -15s %(threadName)-10s %(name) -45s %(funcName) -25s L%(lineno)-6d: %(message)s'
  handlers:
    file:
      class : logging.handlers.RotatingFileHandler
      formatter: verbose
      filename: /var/log/newrelic/newrelic-plugin-agent.log
      maxBytes: 10485760
      backupCount: 3
  loggers:
    newrelic_plugin_agent:
      level: INFO
      propagate: True
      handlers: [console, file]
    requests:
      level: ERROR
      propagate: True
      handlers: [console, file]